{% extends "device_control/../device_control/base.html" %}

{% block menu %}
        <ul class="menu-main">
    <li><a href="/" >Home</a></li>
    <li><a href="/devices" >Devices</a></li>
    <li><a class="current" href="/auth_groups">Auth Groups</a></li>
    <li><a href="/backup_groups">Backup Groups</a></li>
    <li><a href="/accounts/logout">Logout</a></li>
</ul>
{% endblock %}

{% block header %}
    Auth Groups
    <a class="atuin-btn2" href="auth_group/edit">Добавить группу</a>
{% endblock header %}
{% block content %}
    <form method="get">
        {% csrf_token %}
{#    <h2>Созданные группы</h2>#}
    {% if groups.count > 0 %}
    <table class="brd">
        <tr>
            <th>Group name</th>
            <th>User name</th>
            <th>Password</th>
            <th>Secret password</th>
        </tr>
        {% for g in groups %}
        <tr>
            <td>{{ g.auth_group }}</td>
            <td>{{ g.login }}</td>
            <td>{{ g.password }}</td>
            <td>{{ g.privilege_mode_password }}</td>
            <td><a class="no_decoration font20" href="auth_group/edit/{{ g.id }}">✎</a> |
                <a class="no_decoration" href="auth_group/delete/{{ g.id }}">❌</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </form>
{% endblock content %}