{% extends "device_control/base.html" %}
{% block title %}CbP Backup Group Edit{% endblock title %}
{% block menu %}
        <ul class="menu-main">
    <li><a href="/" >Home</a></li>
    <li><a href="/devices" >Devices</a></li>
    <li><a href="/auth_groups">Auth Groups</a></li>
    <li><a class="current" href="/backup_groups">Backup Groups</a></li>
    <li><a href="/zabbix/groups">From Zabbix</a></li>
    <li><a href="/accounts/logout">Logout</a></li>
</ul>
{% endblock %}

{% block header %}Backup Groups{% endblock header %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h1 style="margin-top: 0">{{ backup_group.name }}</h1>
        {% if create_new %}
            <label for="bg" style="color: #003399; font-size: 18px">
                Укажите название группы
                <input name="bg" type="text" style="width: 300px" required>
            </label>
        {% endif %}

        <input name="bg_id" value="{{ backup_group.id }}" style="display: none">

        <h4>Выберите, на какие FTP сервера будут клонироваться файлы конфигурации из данной группы</h4>

        <table>
        <tr><th>FTP сервер</th><th>IP</th><th>Расположение</th></tr>
            {% for fs in ftp_servers %}
                <tr>
                    <td><a class="no_decoration" href="/ftp_servers/edit/{{ fs.id }}">{{ fs.name }}</a></td>
                    <td><a class="no_decoration" href="/ftp_servers/edit/{{ fs.id }}">{{ fs.ip }}</a></td>
                    <td><a class="no_decoration" href="/ftp_servers/edit/{{ fs.id }}">ftp://{{ fs.wd }}{{ backup_group.name }}</a></td>
                    <td style="max-width: 1px">
                        <label class="container" for="{{ fs.name }}_{{ fs.ip }}">
                        <input type="checkbox" name="{{ fs.name }}_{{ fs.ip }}" id="{{ fs.name }}_{{ fs.ip }}"
                            {% if fs.is_checked %}
                                checked
                            {% endif %}>
                        <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div style="text-align: center;">
            <input class="atuin-btn" type="submit" value="Сохранить">
        </div>

    </form>
{% endblock content %}