<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>
&nbsp;
<body>
    <div class="center_ shadow" style="background-color: white; min-height: 100%; padding-top: 20px; text-align: center">
    {% block content %}

    {% if form.errors %}
      <p>Неверный логин или пароль!</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>У вашей учетной записи нет доступа к этой странице. Чтобы продолжить,
пожалуйста, войдите в систему с учетной записью, которая имеет доступ</p>
      {% else %}
        <p>Пожалуйста, войдите, чтобы увидеть эту страницу.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table style="text-align: center">

    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>

    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
    </table>

    <div style="text-align: center;">
        <input class="atuin-btn" type="submit" value="Войти" />
        <input class="atuin-btn center_" type="hidden" name="next" value="{{ next }}" />
    </div>

    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a class="no_decoration center_" href="{% url 'password_reset' %}">Забыли пароль?</a></p>

    {% endblock %}
    </div>
</body>
</html>