{% extends "device_control/../user_control/base.html" %}
{% block header %}
User: {{ username}}
{% endblock header %}
{% block content %}
    <p style="padding: 20px" class="center_">
    Укажите, какие группы будут доступны пользователю
    </p>
    <form method="post">
    {% csrf_token %}
    <div class="center_">
    {% for g, status in backup_groups.items %}
        <div class="center_">
            <label class="container" style="font-family: 'Ubuntu Condensed', sans-serif; font-size: 20px;"
                               for="{{ g }}">{{ g }}
            <input type="checkbox" id="{{ g }}" name="{{ g }}"
                {% if status %}
                    checked
                {% endif %}>
            <span class="checkmark"></span>
            </label>
        </div>
    {% endfor %}
    </div>
    <div class="center_">
        <input class="atuin-btn" type="submit" value="Сохранить">
    </div>
    </form>
{% endblock content %}