{% extends "device_control/../user_control/base.html" %}
{% block header %}
User: {{ username}}
{% endblock header %}
{% block content %}
    <p style="padding: 20px" class="center_">
    Укажите, какие группы будут доступны пользователю
    </p>
    <form method="post">
    {% csrf_token %}
    <table style="text-align: center">
    <tr>
        <th>FTP</th><th>Backup Group</th>
    </tr>
    {% for backup_group_id, backup_group in data.items %}
        <tr>
        <td>
        <table>
            {% for fs in backup_group.ftp_servers %}
                <tr>
                    <td style="border-bottom: none">
                        <a class="no_decoration" href="/ftp_servers/edit/{{ fs.id }}">{{ fs.name }}</a>
                    </td>
                    <td style="border-bottom: none">
                        <a class="no_decoration" href="/ftp_servers/edit/{{ fs.id }}">{{ fs.host }}</a>
                    </td>
                    <td style="border-bottom: none">
                        <a class="no_decoration" href="/ftp_servers/edit/{{ fs.id }}">ftp://{{ fs.workdir }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </td>
        <td style="text-align: left">
            <label class="container" style="font-family: 'Ubuntu Condensed', sans-serif; font-size: 20px;"
                               for="{{ backup_group_id }}">{{ backup_group.name }}
            <input type="checkbox" id="{{ backup_group_id }}" name="bg_id_{{ backup_group_id }}"
                {% if backup_group.checked %}
                    checked
                {% endif %}>
            <span class="checkmark"></span>
            </label>

        </td>
        </tr>
    {% endfor %}
    </table>
    <div style="text-align: center;">
        <input class="atuin-btn" type="submit" value="Сохранить">
    </div>
    </form>
{% endblock content %}