{% extends "device_control/../user_control/base.html" %}
{% block header %}
{{ username}}
{% endblock header %}
{% block content %}
    <form method="post">
        {% csrf_token %}
    {% for g, status in backup_groups.items %}
        <div>
        <input type="checkbox" id="{{ g }}" name="{{ g }}"
        {% if status %}
            checked
        {% endif %}><label style="font-family: 'Ubuntu Condensed', sans-serif; font-size: 20px;"
                           for="{{ g }}">{{ g }}</label>
        </div>
    {% endfor %}
    <input class="atuin-btn" type="submit" value="Сохранить">
    </form>
{% endblock content %}