<!DOCTYPE html>
{% load static %}
<html lang="ru">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <link rel="stylesheet" href="{% static "css/menu.css" %}" />
    <link rel="stylesheet" href="{% static "css/for_home_page.css" %}" />
    <link rel="stylesheet" href="{% static "css/upload_file.css" %}" />
    <title>{% block title %}Configuration backup Project{% endblock title %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <ul class="menu-main">
        <li><a class="current" href="/" >Home</a></li>
        {% if superuser %}
            <li><a href="/devices" >Devices Control</a></li>
            <li><a href="/users" >User Control</a></li>
            <li><a href="/backup_control/logs" >Backup Control</a></li>
        {% endif %}
        <li><a href="/accounts/logout">Logout</a></li>
    </ul>
    <h1 class="center_" style="margin-bottom: 10px">
        {% block header %}{% endblock header %}
    </h1>
    <div class="center_ shadow" style="background-color: white; min-height: 100%">
        {% block content %}{% endblock content %}
    </div>
    <div>
        {% block footer %}{% endblock footer %}
    </div>
</body>
</html>