{% extends "base.html" %}
{% block content %}
    <div style="padding: 20px;">
    <form method="post">
        {% csrf_token %}
    <h2>
        <a class="no_decoration" href="/" style="color: darkorchid;">{{ ftp_server }}</a>
        /
        <a class="no_decoration" href="/" style="color: #2196F3;">{{ backup_group }}</a>
        :
        <a class="no_decoration"  style="color: #003399;"
           href="/config?fs={{ ftp_server }}&bg={{ backup_group }}&dn={{ device_name }}">{{ device_name }}</a>
    </h2>
    {% if form %}
        <style>
        textarea {
            display: block;
            width: 100%;
            box-sizing: border-box;
            resize: none;
            min-height: 3em;
            white-space: pre;
        }
        </style>
        <textarea readonly>{{ form }}</textarea>
    {% else %}
        <pre>
            Файл пустой
        </pre>
    {% endif %}
    </form>
    </div>
    <script>
    document.querySelector('textarea').addEventListener('input', function (e)
    {
        e.target.style.height = 'auto';
        e.target.style.height = e.target.scrollHeight + 20 + "px";
    }
    )
    function fixTextareaSize(textarea) {
        textarea.style.height = 'auto'
        textarea.style.height = textarea.scrollHeight + 20 + "px"
    }

    ~function () {
        var textarea = document.querySelector('textarea')
        textarea.addEventListener('input', function (e) { fixTextareaSize(e.target) })
        fixTextareaSize(textarea)}()

    </script>
{% endblock content %}