{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div style="padding: 20px">

    <h2>
        <a class="no_decoration" href="/" style="color: darkorchid;">{{ ftp_server }}</a>
        /
        <a class="no_decoration" href="/" style="color: #2196F3;">{{ backup_group }}</a>
        :
        {{ device_name }}
    </h2>

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="upload_form">

            <label>

                <div>Загрузить</div>
                <input type="submit" class="main_input_file">

            </label>
            <label>

                <input name="file" type="file" class="main_input_file" />
                <div>Обзор...</div>
                <input class="f_name" type="text" id="f_name" value="Файл не выбран." disabled />
                <input type="text" name="bg" style="display: none" value="{{ backup_group }}">
                <input type="text" name="dn" style="display: none" value="{{ device_name }}">
                <input type="text" name="fs" value="{{ ftp_server }}" style="display: none">

            </label>

        </div>
    </form>


    {% if form %}

    <table>
        <tr><th>Имя</th><th>Дата</th><th>Размер</th></tr>
        {% for line in form %}
            <tr>
                <td>
                    {% if line.3 %}  {# Если файл, то создаем ссылку #}
                        <a class="no_decoration" href="/show?fs={{ ftp_server }}&bg={{ backup_group }}&dn={{ device_name }}&fn={{ line.0 }}">
                        {{ line.0 }}</a>
                    {% else %}
                        {{ line.0 }}
                    {% endif %}
                </td>
                <td>
                    {{ line.1 }}  {# Дата #}
                </td>
                <td>
                    {{ line.2 }}  {# Размер #}
                </td>
                <td>  {# Скачать файл #}
                    <a class="no_decoration" href="/download?bg={{ backup_group }}&dn={{ device_name }}&fn={{ line.0 }}&fs={{ ftp_server }}"
                        style="font-size: 26px;">
                            ⇩
                    </a>
                </td>

                {% if superuser %}
                   {# Кнопка удаления файла #}
                    <td>
                        <a style="cursor: pointer" onclick="delete_file('{{ line.0 }}')">❌</a>
                    </td>
                {% endif %}

            </tr>

        {% endfor %}

   </table>

        {% else %}

        Файлы не найдены

    {% endif %}



</div>

<script>

    $(document).ready(function() {

        $(".main_input_file").change(function() {

            var f_name = [];

            for (var i = 0; i < $(this).get(0).files.length; ++i) {

                f_name.push(" " + $(this).get(0).files[i].name);

            }

            $("#f_name").val(f_name.join(", "));
        });

    });

    function delete_file(file_name) {
        if (confirm("Вы согласны удалить файл \"" + file_name + "\" ?")) {
            window.location.href = '/delete_file?bg={{ backup_group }}&fs={{ ftp_server }}&dn={{ device_name }}&fn=' + file_name
        }
    }

</script>

{% endblock content %}