{% extends "base.html" %}
{% block content %}
    <form method="get">
        {% csrf_token %}
    {% for backup_group, devices in form.items %}
        <p class="first"
           id="first{{ backup_group }}"
           onclick="first('{{ backup_group }}')">{{ backup_group }}</p>

        <p class="first_blue"
           id="first_yelloy{{ backup_group }}"
           style="display:none"
           onclick="first_yelloy('{{ backup_group }}')">{{ backup_group }}</p>

        <div id="{{ backup_group }}" style="display:none">
            <table>
                <tr><th>Имя</th><th>Конфигураций имеется</th><th>Последняя</th></tr>
            {% for device_name, c in devices.items %}
                <tr>
                    <td><a class="no_decoration" href="/config?bg={{ backup_group }}&dn={{ device_name }}">{{ device_name }}</a></td>
                    <td>{{ c.0 }}</td>
                    <td>{{ c.1 }}</td>
                </tr>
            {% endfor %}
           </table>
        </div>
    {% endfor %}
    </form>
    <script>

function first(s) {
    document.getElementById(s).setAttribute("style", "opacity:1; transition: 1s; height: 100%;");
    document.getElementById("first" + s).setAttribute("style", "display: none");
    document.getElementById("first_yelloy" + s).setAttribute("style", "display: block");
}

function first_yelloy(s) {
    document.getElementById(s).setAttribute("style", "display: none");
    document.getElementById("first_yelloy" + s).setAttribute("style", "display: none");
    document.getElementById("first" + s).setAttribute("style", "display: block");
}

</script>
{% endblock content %}




