{% extends "base.html" %}
{% block content %}
    <div style="padding: 20px">

    {% if form %}
        {% for ftp_server_name, groups in form.items %}
            {# Проходимся по каждому ftp серверу #}
            {% if groups %}  {# Если у него имеются доступные группы #}
                <h2>FTP server: <a class="no_decoration" style="color: darkorchid;">{{ ftp_server_name }}</a></h2>
            {% endif %}

            {# Проходимся по каждой группе #}
            {% for backup_group, devices in groups.items %}

                {# Создаем выдвижной список #}
                <p class="first"
                   {# В качестве ID указываем группу и ftp сервер #}
                   id="first{{ backup_group }}{{ ftp_server_name }}"
                   {# Передаем в функцию название группы и ftp сервера #}
                   onclick="first('{{ backup_group }}{{ ftp_server_name }}')">{{ backup_group }}
                </p>

                {# Создаем сворачиваемый список #}
                <p class="first_blue"
                   id="first_yelloy{{ backup_group }}{{ ftp_server_name }}"
                   style="display:none"
                   onclick="first_yelloy('{{ backup_group }}{{ ftp_server_name }}')">{{ backup_group }}
                </p>

                {# Данные в сворачиваемом списке #}
                <div id="{{ backup_group }}{{ ftp_server_name }}" style="display:none">

                    <table style="text-align: center">
                    {% for device_name, c in devices.items %}
                        <tr>
                            <td><a class="no_decoration"
                                   href="/config?bg={{ backup_group }}&dn={{ device_name }}&fs={{ ftp_server_name }}">
                                {{ device_name }}</a></td>
                        </tr>
                    {% endfor %}
                   </table>
                </div>

            {% endfor %}
        {% endfor %}
    {% else %}
        Нет доступных групп!
    {% endif %}
    </div>
    <script>

function first(s) {
    document.getElementById(s).setAttribute("style", "opacity:1; transition: 1s; height: 100%;");
    document.getElementById("first" + s).setAttribute("style", "display: none");
    document.getElementById("first_yelloy" + s).setAttribute("style", "display: block");
}

function first_yelloy(s) {
    document.getElementById(s).setAttribute("style", "display: none");
    document.getElementById("first_yelloy" + s).setAttribute("style", "display: none");
    document.getElementById("first" + s).setAttribute("style", "display: block");
}

function show_add_folder_block(backup_group) {
document.getElementById(backup_group + '-text-input').setAttribute("style", "display: block");
document.getElementById(backup_group + '-submit').setAttribute("style", "display: block");
document.getElementById(backup_group + '-show-button').setAttribute("style", "display: none");
}

</script>
{% endblock content %}




